* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
}

header {   
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    padding-top: 40px;
}

footer {
    background-color: #316099;
    color: white;
}

/* header, footer {
    border: darkred 3px solid;
} */

.paragraph, .heading1, h.heading4 {
    color: #1F3F68;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
}

.heading1 {
    font-size: 64px;
}

.heading2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: black;
}

.heading3 {
    font-size: 36px;
    text-align: center;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.container {
   min-width: 320px;
   max-width: 1140px;
   margin: 0 auto;

   /* border: blueviolet 3px solid; */
}

.menu {
    display: flex;
    justify-content: space-between;
    top: 0;

    /* border: seagreen 3px solid; */
}

.top-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slogan {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/header-bg.png);
    background-position: right center;
    background-repeat: no-repeat;

    /* border: rgb(31, 32, 32) 3px solid; */
}

.slogan-title {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.slogan-text {
    margin-top: 32px;
    width: 425px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.top-button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;

    padding: 15px 50px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.what-we-do {
    padding-top: 64px;
}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 64px;

    /* border: forestgreen 3px solid; */
}

.card {   
    display: flex;
    flex-direction: column;

    width: 358px;
    min-height: 200px;
    margin-right: 32px;
    padding: 44px 32px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    /* border: mediumvioletred 3px solid; */
}

.card:last-child {
    margin-right: 0;
}

.card-img {
    align-self: center;
    margin-bottom: 50px;
}

.card-title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.card-text {
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    padding-bottom: 28px;
}

.card-more a {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.our-projects {
    margin-top: 64px;
    margin-bottom: 112px;

    /* border: crimson 3px solid; */
}

.project-about {
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.project-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project-item {
    position: relative;
    flex-grow: 1;
}

.project-item-margin {
    margin-right: 32px;
}

.project-text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.project-text-pos-right {
    position: absolute;
    top: 64px;
    right: 64px;
}

.project-text-pos-left {
    position: absolute;
    top: 32px;
    left: 32px;
}

.project-img {
width: 100%;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;   
}

.contact-info li {
    list-style: none;
    flex-grow: 1;
}

.contact-info a {
    color: white;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.contact-info a:hover {
    color: #5A98D0;
    text-decoration: underline;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    padding: 64px 0;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-1-2 {
    width: 500px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;

    border: mediumvioletred 3px solid;
}

.no-symbol li {
    list-style: none;
}

.work-with-us {
    margin: 91px 0 96px;

    /* border: lavender 3px solid; */
}

.work-title {
    width: 340px;
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.work-description {
    margin-top: 32px;
    width: 45%;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.chat-block {
    display: flex;
    align-items: center;
}

.chat-button {
    display: inline-block;
    flex-wrap: nowrap;
    background: #5A98D0;
    padding: 15px 80px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
}

.message-form-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.copyright {
    letter-spacing: 0.05em;
    opacity: 0.4;

    /* border: lavender 3px solid; */
}