* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {   
    margin-bottom: 30px;
}

footer {
    margin-top: 20px;
    background-color: #316099;
    color: white;
}

/* header, footer {
    border: darkred 3px solid;
} */

.paragraph, .heading1, h.heading4 {
    color: #1F3F68;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
}

.heading1 {
    font-size: 64px;
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading3 {
    font-size: 36px;
    text-align: center;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.container {
   min-width: 320px;
   max-width: 1140px;
   margin: 0 auto;

   /* border: blueviolet 3px solid; */
}

/* .container-fluid {
    min-width: 320px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
 
    border:orange 3px solid;
 } */

.menu {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: lightyellow;

    /* border: seagreen 3px solid; */
}

.menu-item {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
}

.menu-item:hover {
    background-color:lightsteelblue;
}

.slogan {
    min-height: 300px;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 2em;

    /* border: rgb(31, 32, 32) 3px solid; */
}

.slogan-title {
    width: 510px;
}

.slogan-text {
    width: 425px;
}

.what-we-do {

}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 15px 0;
    padding: 15px 0;

    border: forestgreen 3px solid;
}

.card {   
    width: 330px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    
    border: mediumvioletred 3px solid;
}

.our-projects {
    margin-top: 10px;
    margin-bottom: 10px;
    border: crimson 3px solid;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.contact-info li {
    list-style: none;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {
    color: #5A98D0;
    text-decoration: underline;
}

.footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 10px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-1-2 {
    width: 500px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;

    border: mediumvioletred 3px solid;
}

.no-symbol li {
    list-style: none;
}

.work-with-us {
    max-width: 495px;
    padding-left: 20px;
    line-height: 1.8em;

    /* border: lavender 3px solid; */
}

.message-form-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.copyright {
    margin: 0;
    padding-top: 8px;
    height: 25px;
    text-align: center;

    /* border: lavender 3px solid; */
}