body {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


header {   
    margin-bottom: 30px;
}

header, footer {
    border: darkred 3px solid;
}

.paragraph, .heading1, h.heading4 {
    color: #1F3F68;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
}

.heading1 {
    font-size: 64px;
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading3 {
    font-size: 36px;
    text-align: center;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
}

input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.container {
   min-width: 320px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;

   border: blueviolet 3px solid;
}

.container-fluid {
    min-width: 320px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
 
    border:orange 3px solid;
 }

.menu {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

    border: seagreen 3px solid;
}

.slogan {
    width: 50%;
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 250px;

    font-size: 2em;

    border: rgb(31, 32, 32) 3px solid;
}

.cards-block {
    margin: 15px 0;
    padding: 15px 0;

    border: forestgreen 3px solid;
}

.cards-block::after {
    display: table;
    clear: both;
    content: '';
}

.col-1-3  {
    float: left;
    width: calc((100% - 20px * 2) / 3); 
    height: 300px;
    margin-right: 20px;
    padding: 10px;
    
    border: mediumvioletred 3px solid;
}

.card-1-3:last-child {
    margin-right: 0;
}

.our-projects {
    margin-top: 10px;
    margin-bottom: 10px;
    border: crimson 3px solid;
}

.footer-top, .footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

.blocks2::after {
    display: table;
    clear: both;
    content: '';
}

.block-1-2 {
    width: 50%;
    float: left;
}

.work-with-us {
    width: 40%;
    height: 250px;

    border: lavender 3px solid;
}

.message-form-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.copyright {
    margin: 0;
    padding-top: 8px;
    height: 40px;
    text-align: center;

    border: lavender 3px solid;
}